.content-wrapper {
}

.invitation-card {
  max-height: 100vh;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.invitation-front {
}

.invitation-time {
  margin-top: 38px;
}

.invitation-footer {
  position: absolute;
  max-width: 600px;
  bottom: 0px;
  z-index: -1;
}
