.content-wrapper {
}

.invitation-card {
  max-height: 100vh;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.invitation-front {
}

.invitation-time {
  margin-top: 38px;
}



.content-wrapper {
  /* max-width: 100vw; */
  /* max-height: 100vh; */
  /* overflow-x: hidden; */
}

.rom-invitation{
    text-align: center;
    transform: translateY(-20px);
    margin-bottom: 24px;
    font-weight: 600;
}



.reminder-wrapper {
  position: absolute;
  bottom: 40px;
  display: block;
  text-align: center;
}

.dinner-form-link {
  margin: 8px;
  text-align: center;
  text-transform: uppercase;
}

.dinner-form-link a {
  /* font-weight: 800; */
}

.invitation-footer {
}

.location-wrapper {
  margin-top: 24px;
  text-align: center;
  text-transform: uppercase;
  transform:  translateY(36px);
}

.location-wrapper a {
  /* font-weight: 800; */
  text-decoration: none;
  letter-spacing: 1.5px;
}

.invitation-time {
  margin-top: 16px;
}
